services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./app:/code/app
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 3465
      POSTGRES_DB: shorter_url
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:
