name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      DB_HOST: ${{ secrets.DB_HOST }}
      DB_PORT: ${{ secrets.DB_PORT }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_NAME: ${{ secrets.DB_NAME }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      ALGORITHM: ${{ secrets.ALGORITHM }}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${{ secrets.ACCESS_TOKEN_EXPIRE_MINUTES }}
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: "3.11"

      - name: Install testing dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest pytest-asyncio

      
      - name: Create .env file
        run: |
          echo "DB_HOST=${{ secrets.DB_HOST }}" >> .env
          echo "DB_PORT=${{ secrets.DB_PORT }}" >> .env
          echo "DB_USER=${{ secrets.DB_USER }}" >> .env
          echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
          echo "DB_NAME=${{ secrets.DB_NAME }}" >> .env
          echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> .env
          echo "ALGORITHM=${{ secrets.ALGORITHM }}" >> .env
          echo "ACCESS_TOKEN_EXPIRE_MINUTES=${{ secrets.ACCESS_TOKEN_EXPIRE_MINUTES }}" >> .env
          
      - name: Debug secrets
        run: |
          echo "DB_USER length: ${#DB_USER}"
          echo "DB_PASSWORD length: ${#DB_PASSWORD}"
          echo "DB_NAME length: ${#DB_NAME}"
        env:
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}
      
      - name: Build and start containers
        run: docker compose up -d --build
      
      - name: Show db container logs on failure
        if: failure()
        run: docker compose logs db

      - name: Wait for API to become ready
        run: |
          for i in {1..30}; do
            if curl -s http://localhost:8000/docs > /dev/null; then
              echo "API is up"
              exit 0
            fi
            echo "Waiting for API..."
            sleep 1
          done
          echo "API did not start in time"
          docker compose logs
          exit 1

      - name: Run tests
        run: pytest -q

      - name: Shutdown containers
        if: always()
        run: docker compose down -v
